TeachingHub/web/documentazione/xml-types/request/getpage_getpage_request.xsd

<?xml version="1.0"?>
<!--
Servlet /GetPage
Utilizzato per la richiesta del contenuto di una specifica pagina
-->

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getpage">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"/>
        <xs:element type="xs:string" name="section"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
