TeachingHub/web/documentazione/xml-types/response/managediscussions_getdiscussioninfo_response.xsd

<?xml version="1.0"?>
<!--
risposta del servizio /ManageDiscussions per una richiesta di tipo getDiscussionInfo
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="thread">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="id"/>
        <xs:element name="lastupdate">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="autor"/>
              <xs:element name="datetime">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:time" name="time"/>
                    <xs:element type="xs:string" name="date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:string" name="autor"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element name="creationdate">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="datetime">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:time" name="time"/>
                    <xs:element type="xs:string" name="date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
