TeachingHub/web/documentazione/xml-types/db/aboutus.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="datetime.xsd"/>
  <xs:element name="aboutus">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="content"/>
        <xs:element name="lastupdate">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="autor"/>
              <xs:element ref="datetime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
