TeachingHub/web/documentazione/xml-types/db/datetime.xsd

<?xml version="1.0"?>
<!--
Usato da altri documenti
-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="datetime">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="date"/>
        <xs:element type="xs:time" name="time"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
